body{
font-size: 12px;
margin:0px;
FONT-FAMILY: "Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体"; COLOR: #444; FONT-SIZE: 12px
line-height:20px;
color:#333;
background-color:#8A8A8A;
width:100%;
}
html,body{
height:100%;width:100%;}
a{ border:none;TEXT-DECORATION: none; cursor:pointer;}
input{FONT-FAMILY: "Microsoft YaHei","微软雅黑";}
a:link{
color:#333; 
text-decoration:none; border:none;}
a:visited{
color:#333; 
text-decoration:none;border:none;}
a:hover{
color:#333;
text-decoration:none;border:none;}
.h1{
font-size:14px;
font-weight:bold;}

h2{
font-size:20px;
font-weight:bold;}

h4{
font-size:20px;
line-height:0px;
color:#555;
font-weight:bold;}
.btn_1{ background:url(/images/btn_1.jpg) repeat-x;height:32px; border:#2192C1 solid 1px; padding:0 10px 0 10px; color:#FFF; cursor:pointer;}

.logo{ margin:200px auto 40px auto; text-align:center;vertical-align:middle; width:530px;}
.logo img{ margin:auto auto;vertical-align:middle;}
.logo_in{ margin:0 auto 100px auto;  text-align:center;vertical-align:middle;}
.logo_input{ background:url(/images/logo_input_bg.png) no-repeat; width:209px;line-height:45px; height:45px; border:none; font-size:16px; padding-left:10px;padding-right:10px; color:#FFF;}
.logo_btn{background:url(/images/logo_btn.png) no-repeat;width:137px; height:52px; border:none; cursor:pointer;}
.logo_btn2{background:url(/images/logo_btn_zc.png) no-repeat;width:137px; height:52px; border:none; cursor: pointer;}

.top{mix-height:60px; width:100%; background-color:#333; margin-bottom:10px; padding:10px;}
.top h1{font-size:25px; font-weight:bold; padding:0; margin:10px 10px 5px 10px; color:#CCC;}
.top h2{font-size:14px; font-weight:bold; padding:0; margin:0px 10px 5px 10px; color:#CCC;}
.top_menu{height:40px; line-height:45px; text-align:left;color:#666666;}
.top_menu span{ margin-left:10px; margin-right:10px;cursor:pointer;font-size:17px; width:200px; padding:0 10px 0 10px;}
.page_btn{color:#333;background-color:#DBDBDB;}


.mid{wight:100%; margin-bottom:10px; padding-left:50px;}
.mid_time_p{ width:10px; height:10px; background:url(/images/time_p.png) no-repeat; padding:0 10px 0 10px; cursor: pointer;}
.mid_time_n{ width:10px; height:10px; background:url(/images/time_n.png) no-repeat; padding:0 10px 0 10px; cursor: pointer;}
.mid_time{ width:10px; height:10px; background:url(/images/time1.png) no-repeat; padding:0 20px 0 20px; cursor: pointer;}
.mid_time_on{width:10px; height:10px; background:url(/images/time2.png) no-repeat; padding:0 20px 0 20px; cursor: pointer;}


.left_menu{WIDTH:40px;FLOAT:left; color:#FFF; line-height:30px;margin-bottom:5px;}
.right_calendar{ width:100%; background-color:#2F2F2F; margin-bottom:5px; text-align:center; padding:10px 0 10px 0;}
.calendar_btn{ background:url(/images/calendar.png) no-repeat; width:20px; height:20px; border:none; cursor:pointer;}
.place_btn{ background:url(/images/place.png) no-repeat; width:20px; height:20px; border:none; cursor:pointer;}
.mail_btn{ background:url(/images/mail.png) no-repeat; width:24px; height:20px; border:none; cursor:pointer;}

.con{FLOAT:left;  z-index:300;overflow:hidden;width:96%;position:relative;}
.col{PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
.block {BORDER-BOTTOM: #d9d8d8 1px solid; BORDER-LEFT: #e3e1e1 1px solid; PADDING-BOTTOM: 6px; MARGIN: 0px 0px 20px; PADDING-LEFT: 10px; WIDTH: 400px; PADDING-RIGHT: 10px; BACKGROUND: #fff; BORDER-TOP: #e9e7e7 1px solid; BORDER-RIGHT: #e3e1e1 1px solid; PADDING-TOP: 10px; border-radius: 5px; box-shadow: 0 1px 4px rgba(0,0,0,0.3); -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3); -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3); -o-box-shadow: 0 1px 4px rgba(0,0,0,0.3)}

.block2 {BORDER-BOTTOM: #d9d8d8 1px solid; BORDER-LEFT: #e3e1e1 1px solid; PADDING-BOTTOM: 6px; MARGIN: 0px 0px 20px; PADDING-LEFT: 10px;  PADDING-RIGHT: 10px; BACKGROUND: #fff; BORDER-TOP: #e9e7e7 1px solid; BORDER-RIGHT: #e3e1e1 1px solid; PADDING-TOP: 10px; border-radius: 5px; box-shadow: 0 1px 4px rgba(0,0,0,0.3); -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3); -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3); -o-box-shadow: 0 1px 4px rgba(0,0,0,0.3)}

.post {WIDTH: 100%; OVERFLOW: hidden}
.pimg {WIDTH: 100%; OVERFLOW: hidden}
.title {WIDTH: 100%; OVERFLOW: hidden}
.text {WIDTH: 100%; OVERFLOW: hidden}
.info {WIDTH: 100%; OVERFLOW: hidden;PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #ddd 1px solid; PADDING-TOP: 6px}

.pimg {POSITION: relative; MARGIN: 0px 0px 10px; ZOOM: 1;max-width:400px;width:expression(this.width > 403?"403px":this.width); MARGIN: 0px 0px 20px}
.pimg IMG{max-width:403px;width:expression(this.width > 403?"403px":this.width); margin:0;border-width: 0px 0px 0px 0px}
.pimg a{text-decoration:none; background:none;color:#FFF;}
.pimg a:link{text-decoration:none; background:none;color:#FFF; }
.pimg a:visited{text-decoration:none; background:none;color:#FFF;}
.pimg a:hover{text-decoration:none; background:none; color:#FFF; }
.title {LINE-HEIGHT: 1.4; WORD-WRAP: break-word; FONT-SIZE: 24px; OVERFLOW: hidden; WORD-BREAK: break-all; FONT-WEIGHT: normal}
.text {LINE-HEIGHT: 1.8; WORD-WRAP: break-word; OVERFLOW: hidden; WORD-BREAK: break-all}
.text IMG {MAX-WIDTH: 100%; _width: 100%}
.text UL {MARGIN: 0px 0px 10px}
.text OL {MARGIN: 0px 0px 10px}
.text P {MARGIN: 0px 0px 10px}
.text BLOCKQUOTE {MARGIN: 0px 0px 10px}
.text UL {PADDING-BOTTOM: 0px; PADDING-LEFT: 30px; PADDING-RIGHT: 0px; PADDING-TOP: 0px}
.text OL {PADDING-BOTTOM: 0px; PADDING-LEFT: 30px; PADDING-RIGHT: 0px; PADDING-TOP: 0px}
.text UL LI {LIST-STYLE-POSITION: outside; LIST-STYLE-TYPE: disc}
.text OL LI {LIST-STYLE-POSITION: outside; LIST-STYLE-TYPE: decimal}
.text BLOCKQUOTE {BORDER-LEFT: #dfdfdf 4px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 0px; PADDING-TOP: 0px}

.col1 { width: 200px; }

.pimg2 {WIDTH: 100%; OVERFLOW: auto;}
.pimg2 {POSITION: relative; MARGIN: 0px 0px 10px; ZOOM: 1;max-width:180px;width:expression(this.width > 180?"180px":this.width); MARGIN: 0px 0px 20px}
.pimg2 IMG{max-width:180px;width:expression(this.width > 180?"180px":this.width); margin:0;border-width: 0px 0px 0px 0px}
.pimg2 a{text-decoration:none; background:none;color:#FFF;}
.pimg2 a:link{text-decoration:none; background:none;color:#FFF; }
.pimg2 a:visited{text-decoration:none; background:none;color:#FFF;}
.pimg2 a:hover{text-decoration:none; background:none; color:#FFF; }

.itm {PADDING-BOTTOM: 0px; LINE-HEIGHT: 19px; PADDING-LEFT: 15px; PADDING-RIGHT: 0px; PADDING-TOP: 0px}
.time {FLOAT: left; MARGIN-RIGHT: 10px}
.hot {FLOAT: left; MARGIN-RIGHT: 10px}
.link{}

.con_tab{}
.con_tab td{ vertical-align:top;}
.con_tab2{ width:940px; margin:0 auto; background:#FFF; margin-bottom:20px;}
.con_tab2 td{ vertical-align:top; padding:10px;}
.con_tab2_td_blue{background:#F3F3F3;border-left:#ccc solid 1px;}

.map{ background:#FFF; padding:10px; width:100%; height:323px; margin-left:20px;float:left;}
.map_right{margin-left:45px; float:left;}
.search_input_div{ background:url(/images/t.png) no-repeat;width:246px; height:35px;}
.search_input{ margin:8px; font-size:16px; background:none; border:none; color:#666}
.search_btn{background:url(/images/tt.png) no-repeat;width:20px; height:20px;border:none; cursor:pointer;}
.map_li{ background:#F3F3F3 url(/images/place.png) no-repeat 5px; width:90%; height:36px; border-bottom:#DDDDDD solid 1px;}
.map_last{ background:#FFF url(/images/se_last_bg.jpg) repeat-x top; width:90%; height:36px; border-bottom:#DDDDDD solid 1px;}
.map_last_con{background:url(/images/place_add.png) no-repeat 5px; width:100%; height:36px; border-bottom:#DDDDDD solid 1px;}
.map_last_con span{line-height:36px; color:#666; margin-left:35px;}
.map_li span{ line-height:36px; color:#666; margin-left:30px;}

.map_con {margin-bottom:20px; clear:both;}
.map_title{font-size:20px;
line-height:0px;
margin-top:20px;
color:#555;
font-weight:bold;}
.up_btn_con{ clear:both;}
.uploading{}
.uploading input{ border:#999 solid 1px;}
.uploading_photo{width:200px; width:200px; padding:10px;background:#EEE;}
.uploading_photo IMG{max-width:200px;width:expression(this.width > 200?"200px":this.width); margin:0;}
.uploading_txt{ border-left:#ccc solid 1px; background:#EBEBEB; vertical-align:top; padding:10px; color:#333;}

#bottom{ text-align:center; color:#CCC;}