<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:eibus onapplicationready="appInitiala()">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>地图</title>
<link href="/css/main.css" rel="stylesheet" type="text/css" />
<!-- <script src="http://ditu.google.cn/maps?file=api&v=2&key=ABQIAAAA5lUPUXX-7DGOM0JOJvigNxRi_j0U6kJrkFvY4-OX2XYmEAa76BRRlvSDV7Fk8Q-vszma98oG8jFf0g&hl=zh-CN" type="text/javascript"></script>
 -->
<script src="http://ditu.google.cn/maps?file=api&v=2&key=ABQIAAAA5lUPUXX-7DGOM0JOJvigNxTePLDFqgMf-chkQczV-ZXZQ4AlXBREmejwr_f18plZHoclRVa6Eej2lg&hl=zh-CN" type="text/javascript"></script>
</head>
<body>
<div class="top">
<h1>Zcool1986</h1>
<h2>我的人生是有我来决定，一切皆有可能！</h2>
  <div class="top_menu">
    <span class="page_btn">创建新旅游路线</span>
    <span>上传图片</span>
      <span>我的圈子</span>
      <span>设置</span>
  </div>
</div>

<div class="left_menu">
       <div class="right_calendar"> 
       <input name=""  class="mail_btn"/>
       </div>
       <div class="right_calendar"> 
       <input name=""  class="calendar_btn"/>
       </div>
       <div class="right_calendar"> 
       <input name=""  class="place_btn"/>
       </div>
</div>
    
<div class="con">
  <table width="100%" border="0" class="con_tab" cellspacing="1">
    <tr>
      <td width="65%"><div id="map" class="map"></div></td>
      <td>
              <div class="map_right">
               <table width="100%" border="0" cellspacing="0" style="margin-bottom:10px;">
                  <tr>
                       <td width="62%"><div class="search_input_div"><input name="" type="text" class="search_input" /></div></td>
                       <td width="38%" align="left"><input name="" type="button" class="search_btn" value=""/></td>
                  </tr>
              </table>
              <div class="map_li"><span >成都-乐山-自贡-成都</span></div>
              <div class="map_li"><span >成都-乐山-自贡-成都</span></div>
              <div class="map_li"><span >成都-乐山-自贡-成都</span></div>
              <div class="map_li"><span >成都-乐山-自贡-成都</span></div>
              <div class="map_li"><span >成都-乐山-自贡-成都</span></div>
              <div class="map_li"><span >成都-乐山-自贡-成都</span></div>
              <div class="map_li"><span >成都-乐山-自贡-成都</span></div>
              <div class="map_last">
              <div class="map_last_con">
               <span class="map_last_span"><a>创建一条新路线</a></span><span class="map_last_span" style="float:right; margin-right:20px">1&nbsp;2&nbsp;3</span>
              </div>
            </div>
            </div>
      </td>
    </tr>
 </table>
</div>
</body>
<script type="text/javascript">
var map = new GMap2(document.getElementById("map"));
map.setCenter(new GLatLng(39.9493, 116.3975), 13);
map.enableScrollWheelZoom();
function mapsLoaded(){
	var map = new google.maps.Map2(document.getElementById("map"));
	map.setCenter(new google.maps.LatLng(37.4419, -122.1419), 13);
}
</script>
</html>
