<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:eibus onapplicationready="appInitiala()">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>注册帐号</title>
<link href="/css/main.css" rel="stylesheet" type="text/css" />
<script src="/js/jquery-1.6.min.js"></script>
<script type="text/javascript">
<!--
window.onload=window.onresize=function(){
	if($("#right").clientHeight<$("#left").clientHeight){
		$("#right").style.height=$("#left").get(0).offsetHeight+"px";
	}
	else{
		$("#left").style.height=$("#right").offsetHeight+"px";
	}
}
-->
</script>
</head>
<body>
<div class="logo"><img src="/images/logo.png"/></div>
<form action="/user/saveUser" method="post" id="reg_form" name="reg_form">
<table border="0" class="logo_in" cellspacing="0">
     <tr>
          <td><input name="email" type="text" class="logo_input" placeholder="邮箱" value=""></td>
          <td><input name="passwd" type="password" class="logo_input" placeholder='密码' value=""></td>
          <td><input name="passwd_repeat" type="password" class="logo_input" placeholder='确认密码' value=""></td>
          <td><input name="" type="submit" class="logo_btn2" value=""></td>
     </tr>
</table>
</form>
<div id="bottom">关于我们|联系我们|招贤纳士|隐私政 公司版权所有　©1997-2011　ICP备20090191号</div>
</body>
</html>
