<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>上传图片</title>
	</head>
	
	<body>
		<form action="/picture/savePicture" enctype="multipart/form-data" method="post">
			<input type="file" name="file1" multiple="true"/><br/>
			<input type="file" name="file2" multiple="true"/><br/>
			<input type="file" name="file3" multiple="true"/><br/>
			<input type="file" name="file4" multiple="true"/><br/>
			<input type="file" name="file5" multiple="true"/><br/>
			<input type="submit" value="提交"/>
		</form>
	</body>
</html>