<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<% if (pictures) { %>
<% pictures.forEach(function(pic, i){ %>
       <!--图片展示1-->
       <%if (i==0) {%>
       <div class="col">
         <div class=block>
         <div class=pimg><A href=""><IMG src="<%=pic.filePath%>"></A></div>
         <div class=text>
                 <P>欢迎大家来到我的第一个空间</P> 
                 <P>谢谢葱头先生帮忙拍的照片！谢谢葱头先生帮忙拍的照片！谢谢葱头先生帮忙拍的照片！谢谢葱头先生帮忙拍的照片！谢谢葱头先生帮忙拍的照片！谢谢葱头先生帮忙拍的照片！</P>
                 <P>名信片的印刷效果还不错呢！嘻嘻…</P>
          </div>
          <div class="itm clear time"><A href="">2011-10-28<br/>21312312312321</A></div>
          <div class=info>
              <div class="itm clear time"><A href="">2011-10-28</A></div>
              <div class="itm clear hot"><A href="">13</A></div>
              <div class="itm clear link"><A href="">全文链接</A></div>
          </div>
          </div>
       </div>
       <% } %>
       <%if (i>0) {%>
       <div class="col" >
         <div class=block2>
         <div class=pimg2><A href=""><IMG src="<%=pic.thumbnail%>"></A></div>
          </div>
       </div>
       <% } %>
<% }) %>
<% } %>
</body>
</html>