<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title><%=msg.title%></title>
<%if(msg.redirect){%>
<script LANGUAGE="JavaScript">
window.onload = function(){ 
	window.setTimeout(redirect, 3000);
}
function redirect(){
	window.opener=null;
	window.location.href='<%=msg.redirect%>';
}
</script>
<%}%>
</head>
<body>
<%=msg.content%>
<%if(msg.redirect){%>
<a href='<%=msg.redirect%>'>三秒后自动跳转到登陆前页面！</a>
<%}%>
</body>
</html>
