<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:eibus onapplicationready="appInitiala()">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>XX</title>
<link href="/css/main.css" rel="stylesheet" type="text/css" />
<script src="/js/jquery-1.6.min.js"></script>
<script type="text/javascript">
<!--
window.onload=window.onresize=function(){
if(document.getElementById("right").clientHeight<document.getElementById("left").clientHeight){
document.getElementById("right").style.height=document.getElementById("left").offsetHeight+"px";
}
else{
document.getElementById("left").style.height=document.getElementById("right").offsetHeight+"px";
}
}
-->
</script>
</head>
<body>
<div class="top">
<h1>Zcool1986</h1>
<h2>我的人生是有我来决定，一切皆有可能！</h2>
  <div class="top_menu">
    <span class="page_btn">创建新旅游路线</span>
    <span>上传图片</span>
      <span>我的圈子</span>
      <span>设置</span>
  </div>
</div>
<table width="100%" border="0" class="con_tab2" cellspacing="1">
   <tr>
      <td width="65%">
         <div class="map_con">
           <div class="map_title">上传图片</div>
         </div>
         <div class="map_con">
            <table width="100%" border="0" class="uploading" cellspacing="1">
                 <tr>
                   <td class="uploading_photo"><img src="/images/8.jpg"/></td>
                   <td class="uploading_txt">
                     <p>选择日期：<div><img src="/images/z1.jpg"/></div></p>
                     <p>选择地点：<div><img src="/images/z2.jpg"/></div></p>
                     <p>添加标签：<div><img src="/images/z3.jpg"/></div></p>
                   </td>
                 </tr>
           </table>
         </div>
         
         <div class="map_con">
            <table width="100%" border="0" class="uploading" cellspacing="1">
                 <tr>
                   <td class="uploading_photo"><img src="/images/2.jpg"/></td>
                   <td class="uploading_txt">
                     <p>选择日期：<div><img src="/images/z1.jpg"/></div></p>
                     <p>选择地点：<div><img src="/images/z2.jpg"/></div></p>
                     <p>添加标签：<div><img src="/images/z3.jpg"/></div></p>
                   </td>
                 </tr>
           </table>
         </div>
         
         <div class="map_con">
           <span><input class="btn_1" name="" type="button" value="上传图片"/></span>
           <span style="margin-left:10px; line-height:20px;">在文件列表中，按住Ctrl多选图片JPG, GIF, PNG或BMP. 不超过20MB</span>
         </div>
       </div>
      </td>
      <td class="con_tab2_td_blue">
          <div class="map_con">
           <p>发布到</p>
          <img src="/images/z1.jpg"/>
          </div>
          <div class="map_con">
            <p>描述</p>
           <img src="/image_my/un2.jpg" />
          </div>
      </td>
   </tr>
</table>
<div id="bottom">关于我们|联系我们|招贤纳士|隐私政 公司版权所有　©1997-2011　ICP备20090191号</div>
</body>
</html>
